
/* Các thuộc tính CSS hiện có */
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none !important;
}

/* Header */
.header {
    padding: 3px 0;
    background: #2a388f;
}

/* Content */
.change-container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    padding: 20px;
}
.change-container .change-form {
    padding: 20px 30px 30px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
}
.change-container h2 {
    color: #495057;
    text-align: center;
    font-size: 28px;
}
.change-container .input-group label {
    color: #555;
    font-size: 15px !important;
}
.change-container .input-group input {
    width: 100%;
    height: 40px;
    margin: 5px 0 20px 0;
    padding: 10px;
    border: 1px solid #ccc;
}
.change-container .input-group input:focus {
    border-color: #007bff;
    outline: none;
}
.change-container .password-group {
    position: relative;
}
.change-container .password-group .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-30%);
    cursor: pointer;
}
.change-container .forgot-password a, .register-link a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}
.change-container button {
    height: 40px;
    border: none;
    border-radius: 4px;
    background-color: #2e3a92;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
}
.change-container button:hover {
    background-color: #ef5322;
}
/* Thông báo lỗi, ẩn theo mặc định */
.error-message {
    font-size: 12px;
    color: red;
    display: none; /* Ẩn lỗi khi không có lỗi */
}

/* Responsive điều chỉnh */
/*Khi màn hình < 768px*/
@media (max-width: 768px) {
    .change-container .change-form {
        box-shadow: none;
    }
    .change-container h2 {
        font-size: 24px;
    }
    .input-group input {
        height: 35px;
        font-size: 14px;
    }
    button {
        height: 35px;
        font-size: 15px;
    }
}

/*Khi màn hình < 480px*/
@media (max-width: 480px) {
    .change-container h2 {
        font-size: 22px;
    }
    .input-group input {
        height: 32px;
        font-size: 13px;
    }
    button {
        height: 32px;
        font-size: 14px;
    }
}

/*Khi màn hình < 320px*/
@media (max-width: 320px) {
    .header img {
        width: 80%;
    }
}
