* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none !important;
}

/* Header */
.header {
    padding: 3px 0;
    background: #2a388f;
}

/* Content */
.change-container {
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;
    padding: 20px;
}
.change-container .change-form {
    padding: 20px 30px 30px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 100%;
}
.change-container h5 {
    font-weight: 800;
    line-height: 22px;
    color: #464E5F;
    text-align: center;
}
.change-container .input-group {
    display: block;
    width: 100%;
}
.change-container .input-group label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 12px;
    color: #3D3D3D;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 24px;
    display: block;
}
.change-container .input-group input {
    width: 100%;
    height: 45px;
    padding: 8px;
    border-radius: 8px !important;
    background-color: #FAFAFA !important;
    border: 1px solid #DEDEDE;
    color: #4B5563 !important;
    position: relative;
    margin-bottom: 10px;
}
.change-container .input-group input:focus {
    border-color: #007bff;
    outline: none;
}
.change-container .password-group {
    position: relative;
}
.change-container .password-group .eye-icon {
    position: absolute;
    right: 10px;
    top: 25%;
    color: #bbb;
    cursor: pointer;
}
.change-container .error-message {
    font-size: 12px;
    color: #ef5350;
    display: none;
}
.change-container .forgot-password a, .register-link a {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}
.change-container button {
    height: 40px;
    border: none;
    border-radius: 8px;
    background-color: #2e3a92;
    color: white;
    font-size: 16px;
    font-weight: 800;
    cursor: pointer;
    margin-top: 10px;
}
.change-container button:hover {
    background-color: #ef5322;
    color: #fff;
}
/* Responsive điều chỉnh */
/*Khi màn hình < 768px*/
@media (max-width: 768px) {
    .change-container .change-form {
        box-shadow: none;
    }
    .change-container h2 {
        font-size: 24px;
    }
    .input-group input {
        height: 35px;
        font-size: 14px;
    }
    button {
        height: 35px;
        font-size: 15px;
    }
}

/*Khi màn hình < 480px*/
@media (max-width: 480px) {
    .change-container h2 {
        font-size: 22px;
    }
    .input-group input {
        height: 32px;
        font-size: 13px;
    }
    button {
        height: 32px;
        font-size: 14px;
    }
}

/*Khi màn hình < 320px*/
@media (max-width: 320px) {
    .header img {
        width: 80%;
    }
}
