* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
#benphai {
    margin-top: 15%;
}

.error-content {
    color: #30425B;
    font-size: 48px;
    font-weight: 500;
    line-height: 57px;
    margin-bottom: 30px;
}

.home {
    background: #2a388f;
    color: #fff;
    padding: 1rem 2rem;
    border-radius: 4rem;
}

.home:hover {
    background: #2a388f;
    color: #fff;
    opacity: 0.8;
}